name: NPM Publish

on:
  push:
    tags: [ '*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18
      - run: npm i
      - run: npm test

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm i
      - name: Build types
        run: npm run build-types
      - name: Publish to NPM
        run: npm publish --access public
        #run: |
        #  TAG=$(echo "${GITHUB_REF_NAME}" | grep -oP '(?<=-)[^.]+')
        #  if [ -z "$TAG" ]; then
        #    TAG="latest"
        #  fi
        #  npm publish --tag "$TAG" --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
          SLACK_WEBHOOK: ${{secrets.slack_webhook}}